# output
out
dist
*.tgz
*.full.html

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.cache

# IDEs or AI
.claude/settings.local.json
.idea

# Finder (MacOS) folder config
.DS_Store

# TypeScript/JavaScript
node_modules/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
